# minimal requirements for inference

torch
torchvision
roma
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
pyglet<2
huggingface-hub[torch]>=0.22

# for camera trajectory
evo

# for sam2, customized version
-e third_party/sam2